body {
  font-family: 'Mplus 1p', sans-serif;
  color: #222;
  margin: 0;
}

a,
a:visited {
  color: #447ec7;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background-image: url(./eri.png);
  background-size: 56px 76px;
  opacity: 0.15;
}

.logo {
  text-align: center;
  padding: 100px 0;
  margin: 0;
}

.logo img {
  width: 90%;
  max-width: 400px;
}

.logo.game {
  position: relative;
}

.logo.game img {
  width: 96%;
  max-width: 600px;
}

.logo.game img.title365 {
  position: absolute;
  width: 40%;
  max-width: 200px;
}

.container {
  box-sizing: border-box;
  padding: 0 10px;
  max-width: 480px;
  margin: 0 auto;
  padding-bottom: 100px;
}

.container h3 {
  text-align: center;
}

.events {
  padding: 0 30px;
}

.events li {
  margin: 1em 0 2em;
}

.datetime .next {
  color: #e3017e;
  font-weight: bold;
}

.event-title {
  font-weight: bold;
}

.event-result {
  display: block;
  margin-top: 5px;
}

.event-result img {
  display: inline-block;
  margin-right: 1%;
  width: 32%;
}

.booth {
  background: white;
  border: 2px solid #222;
  border-radius: 5px;
  padding: 0 3px;
  white-space: nowrap;
}

.sample {
  margin: 0 auto 50px;
}

.sample img {
  width: 100%;
}

footer {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fefefe;
  font-weight: 300;
  padding: 15px 0;
}

footer div {
  margin-bottom: 3px;
}

footer ul {
  margin: 0;
  padding: 0;
}

footer li {
  display: inline-block;
  margin: 0 5px;
}

footer a,
footer a:visited {
  text-decoration: none;
  color: #a3c6f5;
}
